body{
    font-family: Arial;
    background:#f2f2f2;
    text-align:center;
    padding:20px;
}

.dark{
    background:#222;
    color:white;
}

button{
    padding:10px 20px;
    margin:5px;
}

img{
    border:2px solid black;
}

ul{
    list-style:none;
}